
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-nav-menu></app-nav-menu> 
<div class="mainDiv">
    <h5  class="booking-cta" >List of the car companyes</h5>
    <table class="table table-hover">
        <thead class="booking-cta">
            <tr>
                <th class="th-info" scope="col">name:</th>
                <th  class="th-info" scope="col"> address:</th>
                <th  class="th-info" scope="col">description:</th>
                <th class="th-info" scope="col">mark:</th>
                <th class="th-info" scope="col">available cars</th>
            </tr>
        </thead>
        <tbody class="results">
            <tr *ngFor="let rentcars of allrentcars">
                <td class="td-info">{{rentcars.name}}</td>
                <td  class="td-info">{{rentcars.address}}</td>
                <td class="description-info">
            
                    <label class="description-label"> {{rentcars.description}}</label>
                  
                </td>
                <td class="td-info">
                    <div class="profile-stars">
                        <star-rating value={{rentcars.mark}} totalstars={{totalstar}} checkedcolor="gold" uncheckedcolor="gray" size="30px" readonly="true"></star-rating>
                    </div>
                </td>
                <td>
                    <button class="buttonAccept" (click) ="FilialsClick(rentcars)">
                        More about the branches...
                    </button>
                </td>               
            </tr>
        </tbody>
    </table>
</div>