<app-nav-menu></app-nav-menu>

<h1 style="text-align:center" class="naslov"  >Start your dream journey</h1>
<h4 class="citat" style=" text-align: right;">"Live,Travel,Adventure,Bless, And Don't Be Sorry" - Jack Kerouac</h4>

<div class="container">
    <a routerLink ="/airline">
        <div class="box " ></div>
    </a> 
   

     <a routerLink ="/sign-in">
        <div class="box sign-in"></div>
    </a>

    <a routerLink ="/sign-up">
        <div class="box sign-up"></div>
    </a>
   
    <a routerLink ="/rent-a-car">
        <div class="box car"></div>
    </a>	
</div>


