.booking-cta {
	font-size: 18px;
	text-transform: uppercase;
	color: #8c5d28;
    font-weight: 100;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
}

.filterDiv{
	width: 100%;
	height: 100px;
  background-color: white; 
}

.results{
    background: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    
}
.booking-ctar {
	font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
	color: #8c5d28;
    font-weight: 100;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
}


.buttonModify {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 110px;
    height: 40px;
    margin-left: 10%;
  }
  .buttonModify:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  .buttonModify:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .buttonModify:hover {
    color: #fff;
  }
  .buttonModify:hover:before {
    width: 100%;
  }