<app-nav-menu></app-nav-menu>

<div id="login-box">
    <div class="left">
      <br/>
      <h1>Sign in</h1>
      <br/>
      <br/>
      <form  >
        <input type="text" [(ngModel)]="email" name="email"   placeholder="E-mail" />
        <input type="password"  [(ngModel)]="password" name="password"   placeholder="Password" />
        <button class="social-signin twitter" (click)="onSubmit()" >Sing in</button>
      </form>
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google" (click) ="signInWithGoogle()"> Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>